<!doctype html>
<html ng-app="msyn" ng-controller="MainCtrl" lang="en">
<head>
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Me Sell You Not</title>

	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" href="docs.css">

	<style>

	</style>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

	<script src="core.js"></script>
	<script>
		angular.module('msyn').constant('config', {{{json init}}});
	</script>

</head>
<body layout="row" ng-cloak>
	<md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabIndex="-1">

		<header class="nav-header">
			<a ng-href="#!/" class="docs-logo">
				<img src="favicon.ico" alt="" />
				<h1 class="docs-logotype md-heading">Me Sell You Not</h1>
			</a>
		</header>

		<md-content flex role="navigation" class="md-default-theme" tabIndex="-1">
			<ul class="docs-menu" tabIndex="-1">
				<li class="parent-list-item" tabIndex="-1">
					<menu-link><a class="md-button" href="#!/" tabIndex="-1">Introduction</a></menu-link>
				</li>
				<li class="parent-list-item" tabIndex="-1">
					<menu-link><a class="md-button" href="#!/characters" tabIndex="-1">Characters</a></menu-link>
				</li>
				<li class="parent-list-item" tabIndex="-1">
					<menu-link><a class="md-button" href="#!/realmStatus" tabIndex="-1">Realm Status</a></menu-link>
				</li>
				<li class="parent-list-item" tabIndex="-1">
					<menu-link><a class="md-button" href="#!/settings" tabIndex="-1">Settings</a></menu-link>
				</li>

								<md-button aria-label="Login" ng-hide="loginManager.isLoggedIn" ng-click="loginManager.startLogin()">Login</md-button>

						<md-button aria-label="Login" ng-show="loginManager.isLoggedIn" ng-click="loginManager.logout()">Logout</md-button>

			</ul>
		</md-content>


	</md-sidenav>

	<div layout="column" role="main" flex id="content">

		<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" >

			<div class="md-toolbar-tools docs-toolbar-tools" ng-click="openMenu()" tabIndex="-1">
				<md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
					<md-icon md-svg-src="ic_menu_24px.svg"></md-icon>
				</md-button>

				<div layout="row" flex class="fill-height">
					<h2 class="md-toolbar-item md-breadcrumb md-headline">
						<span class="md-breadcrumb-page" ng-bind="title"></span>
					</h2>

					<span flex></span>
					<div class="md-toolbar-item docs-tools" layout="row">

						<md-button ng-if="user.battletag" ng-bind="user.battletag" ng-href="#!/characters"></md-button>

						<md-button aria-label="Login" ng-hide="loginManager.isLoggedIn" ng-click="loginManager.startLogin()">Login</md-button>

						<md-button aria-label="Login" ng-show="loginManager.isLoggedIn" ng-click="loginManager.logout()">Logout</md-button>
					</div>
				</div>
			</div>

		</md-toolbar>

		<md-content ng-view md-scroll-y flex layout-padding></md-content>
	</div>
</body>
</html>
